
@font-face {
  font-family: "Lato-Regular";
  src: url('/fonts/Lato-400n.woff');
  src: url('/fonts/Lato-400n.woff2');
  src: url('/fonts/Lato-Regular.ttf');
  src: url('/fonts/Lato-Regular.eot');
  src: url('/fonts/Lato-Regular.svg');
  src: url('/fonts/Lato-Regular.woff');


  font-weight: normal;
}

@font-face {
  font-family: "Lato-Bold";
  src: url('/fonts/Lato-700n.woff');
  src: url('/fonts/Lato-700n.woff2');
  font-weight: bold;
}

@font-face {
  font-family: "Lato-Black";
  src: url('/fonts/Lato-Black.ttf');
  src: url('/fonts/Lato-Black.eot');
  src: url('/fonts/Lato-Black.svg');
  src: url('/fonts/Lato-Black.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GoodHeadlinePro";
  src: url('/fonts/GoodHeadlinePro-CondBlack.ttf');
  src: url('/fonts/GoodHeadlinePro-CondBlack.eot');
  src: url('/fonts/GoodHeadlinePro-CondBlack.otf');
  src: url('/fonts/GoodHeadlinePro-CondBlack.svg');
  src: url('/fonts/GoodHeadlinePro-CondBlack.woff');
}

@font-face {
  font-family: 'Conv_RUBSN';
  src: url('/fonts/RUBSN.otf');
  src: url('/fonts/RUBSN.eot');
  src: url('/fonts/RUBSN.svg');
  src: url('/fonts/RUBSN.ttf');
  src: url('/fonts/RUBSN.woff');
  font-weight: normal;
  font-style: normal;
}
