html {
  font-size: 1px;
  position: relative;
}

input, button, textarea:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

body {
  position: relative;
  width: 100%;
  min-width: 1200px;
  font-size: 14rem;
  font-family: "Lato-Regular";
}

.Section-Title {
  display: block;
  text-align: center;
  font-family: "GoodHeadlinePro";
  line-height: 0.75;
  font-size: 60rem;
}

.Right {
  float: right;
}

.Left {
  float: left;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}

li {
  list-style-type: none;
}

.Svg-Container {
  display: none;
  height: 0;
  opacity: 0;
}

.Wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.Form {
  input {
    display: block;
    width: 100%;
    height: 60px;
    font-size: 20rem;
    border-radius: 3px;
    color: grey;
    margin-bottom: 9px;
    padding: 0 30px;
    background: rgba(255, 255, 255, 0.8);

    &:focus {
      background: white;
    }

    &:last-of-type {
      margin-bottom: 40px;
    }

  }
  button {

    width: 100%;
    height: 60px;
    background: $main-color;
    font-family: "Lato-Black";
    font-size: 20rem;
    border-radius: 3px;
    padding-bottom: 5px;
    color: white;
    letter-spacing: 1px;

  }
}

button {
  display: block;
  margin: auto;
  transition: all .2s;
  &:hover {

    background: rgba(243, 156, 18, .8) !important;
    transition: all .2s;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.4);

  }
}