.JS-Window-Blackout
{
    visibility:       hidden;
    position:         fixed;
    opacity:          0;
    z-index:          1000;
    top:              0;
    left:             0;
    right:            0;
    width:            100%;
    height:           100%;

    background-color: rgba(0, 0, 0, .7);
    transition:       all 0.7s ease;

    .JS-Window
    {
        visibility:       hidden;
        position:         absolute;
        overflow-y:       auto;
        overflow-x:       hidden;
        max-width:        900px;
        top:              12%;
        left:             10%;
        right:            10%;

        box-sizing:       border-box;

        margin:           0 auto;
        padding:          15px;

        background-color: #fff;
        transition:       all 0.7s ease;

        img
        {
            width:  100%;
            height: auto;
        }

        .JS-Window-Close
        {
            position:  absolute;
            width:     25px;
            top:       10px;
            right:     15px;
            font-size: 36px;
            cursor:    pointer;
            color:     $text-color;
        }
    }

    &.Visible
    {
        visibility: visible;
        opacity:    1;

        .JS-Window
        {
            visibility: visible;
            opacity:    1;

            transition: all 0.7s ease;
        }
    }

}