.Header-Wrapper
{
    background:      url("/img/bg-header.jpg") center center;
    background-size: cover;
    height:          800px;
}

.Header-Top
{
    position: relative;
    padding:  0 15px;
    margin:   0 auto 135px;

    .Header-Logo
    {
        position: absolute;
        left:     15px;
        top:      32px;
        svg
        {
            width:  120px;
            height: 60px;
            fill:   white;
        }
    }

    .Head-Text
    {
        text-align:    center;
        color:         #fff;
        padding:       17px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.51);

        .Allotment-Text
        {
            color: #fde3a7;
        }

        h1
        {
            font-size:      35rem;
            font-family:    "GoodHeadlinePro";
            padding-bottom: 10px;
        }

        p
        {

            font-size:   18px;
            line-height: 1.111;
        }
    }

    .Header-Order
    {
        position: absolute;
        top:      16px;
        right:    15px;

        .tel
        {
            font-size:      35rem;
            color:          white;
            text-align:     right;
            font-family:    "GoodHeadlinePro";
            padding-bottom: 13px;
            line-height:    0.75;

        }

        button
        {
            width:          250px;
            height:         40px;
            background:     $main-color;
            font-family:    "Lato-Black";
            font-size:      12rem;
            letter-spacing: 1px;
            color:          white;
            text-transform: uppercase;
            border-radius:  3px;

        }
    }
}

.Header-Center
{
    text-align: center;
    font-size:  0;

    .Section-Title
    {
        display:        inline-block;
        vertical-align: top;
        font-size:      80rem;
        color:          white;
        line-height:    0.875;
        text-align:     left;
        padding-right:  55px;

        .Allotment-Text
        {
            color: #fde3a7;
        }
    }
}

.Order-Contacts
{
    display:        inline-block;
    vertical-align: top;

    &.Header-Contacts
    {
        padding:       35px;
        background:    rgba(255, 255, 255, 0.31);
        border-radius: 3px;
    }

    .Order-Title
    {
        display:        block;
        font-size:      35px;
        color:          white;
        font-family:    "GoodHeadlinePro";
        letter-spacing: 1px;
        margin-bottom:  32px;

        .Allotment-Text
        {
            color: #fde3a7;
        }
    }
}

.Header-Wrapper.Second
{
    .Section-Title
    {
        text-align:    center;
        padding-right: 0;
    }
    .Header-Center button
    {
        display:        block;
        margin:         130px auto 0;
        width:          500px;
        height:         60px;
        font-size:      20rem;
        background:     #f39c12;
        font-family: Lato-Black;
        padding-bottom: 5px;
        color: #fff;
        letter-spacing: 1px;
        color:          #fff;
        border-radius:  3px;
    }
}
