.Areas
{
    @extend %Clearfix;

    position:        relative;
    background-size: cover;

    .Arena
    {
        position:        absolute;
        bottom:          0;
        left:            0;
        top:             0;
        right:           0;
        z-index:         1;
        background:      url('/img/area.png') center center;
        background-size: cover;
    }

    #Areas-Map
    {
        position: absolute;
        top:      0;
        right:    0;
        left:     0;
        bottom:   0;
        filter:   grayscale(80%);
    }

    .Slick-Areas
    {
        z-index: 9;

        li
        {
            cursor: pointer;
        }
    }

    .Areas-Info
    {
        position:   relative;
        float:      right;
        width:      50%;
        background: rgba(243, 156, 18, 0.9);
        padding:    90px 0 45px 100px;
        z-index:    3;

        .Section-Title
        {
            text-align:    left;
            color:         #fff;
            line-height:   0.867;
            margin-bottom: 20px;

        }

        p
        {
            display:       block;
            color:         white;
            font-size:     22rem;
            margin-bottom: 50px;

            .Allotment-Text
            {
                font-family: "Lato-Black";
            }

        }

        img
        {
            display:   block;
            border:    10px solid white;
            width:     400px !important;
            max-width: 100%;
        }

    }
}