.Examples
{

    padding: 100px 0 125px 0;

    .Section-Title
    {
        color:         $color-titles;
        margin-bottom: 50px;
    }

    .Examples-Tabs
    {
        margin-bottom: 47px;
    }

    .Examples-Nav
    {
        text-align:    center;
        margin-bottom: 105px;
        li
        {
            position:  relative;
            display:   inline-block;
            font-size: 20rem;
            color:     $text-color;
            margin:    0 32px;
            cursor:    pointer;

            &:hover, &.Active
            {
                &:before
                {
                    content:    '';
                    position:   absolute;
                    height:     4px;
                    left:       0;
                    right:      0;
                    bottom:     -19px;
                    background: $main-color;
                }
            }
        }

    }

    .Examples-Content
    {
        font-size: 0;
    }

    .Example-Item
    {
        display:        inline-block;
        vertical-align: top;
        width:          50%;
        padding:        0 14px;
        margin-bottom:  30px;


        & > div
        {

            position: relative;
            border:   10px solid transparent;
            cursor:   pointer;
            transition:     0.6s;

            &:hover
            {
                border: 10px solid rgba(243, 156, 18, 0.9);

                .Item-Descriptions
                {
                    opacity: 1;
                }
            }

            &:after
            {
                content:         '';
                position:        absolute;
                left:            -10px;
                right:           -10px;
                height:          22px;
                bottom:          -32px;
                background:      url('/img/shadow.png') center;
                background-size: cover;
            }
        }

        img
        {
            width:  100%;
            height: 350px;
        }

        .Item-Descriptions
        {
            position:   absolute;
            bottom:     0;
            right:      0;
            left:       0;
            background: rgba(243, 156, 18, 0.9);
            font-size:  20rem;
            color:      white;
            height:     90px;
            width:      100%;
            display:    table;
            padding:    0 0 0 32px;
            opacity:    0;
            transition: 0.6s;

            & > div
            {
                display:        table-cell;
                vertical-align: middle;
            }

            .Item-Title, .Item-Info
            {
                display:     block;
                line-height: 1.2;
            }
        }

        .Item-Title
        {
            font-family: "Lato-Black";
        }
    }

    .More
    {
        display:        block;
        width:          500px;
        height:         60px;
        border:         1px solid $main-color;
        margin:         auto;
        font-size:      20rem;
        font-family:    "Lato-Black";
        color:          $main-color;
        border-radius:  3px;
        padding-bottom: 4px;
        transition:     all .2s;

        &:hover
        {
            color:      white;
            transition: all .2s;
            border:     1px solid rgba(243, 156, 18, .8);
        }
    }
}

