.Guarantees {

  padding: 105px 0 75px 0;

  .Section-Title {
    color: $color-titles;
    margin-bottom: 50px;
  }

  .Guarantees-List {
    font-size: 0;
  }

  .Guarantees-Item {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 0 15px;
    height: 150px;
    background: white;
    margin-bottom: 30px;
  }

  .Item-Content {
    display: table;
    width: 100%;
    padding: 25px 10px 0 34px;
  }

  .Guarantees-Description {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding-left: 46px;

    p {
      color: $text-color;
      font-size: 18rem;
      line-height: 1.25;

      .Allotment-Text {
        color: $main-color;
        font-family: "Lato-Black";
      }
    }
  }

  .Item-Title {
    font-size: 35rem;
    font-family: "GoodHeadlinePro";
    color: $color-titles;
    line-height: 0.75;
    padding-bottom: 10px;

    .Allotment-Text {
      color: $main-color;
    }
  }

  .Guarantees-Image {

    display: inline-block;
    padding-top: 5px;

    svg {
      width: 65px;
      height: 65px;
      fill: $main-color;
    }
  }
}

