.Partners {

  padding: 75px 0 100px 0;
  background: $main-color;

  .Wrapper {
    position: relative;
    padding: 0 65px;

  }

  .Section-Title {

    color: white;
    line-height: 0.75;
    margin-bottom: 75px;
  }

  .Partners-Slider {
    .Partners-Item {

      & > div {
        display: table;
        width: 170px;
        height: 120px;
        border-radius: 3px;
        background: white;
        margin: auto;

        & > div {
          display: table-cell;
          vertical-align: middle;
        }
      }

    }

    img {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      max-height: 120px;
    }
  }

  .slick-prev {
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -19px;
    font-size: 0;
    width: 20px;
    height: 38px;
    background: none;
    box-shadow: none;

    &:before {
      content: "";
      position: absolute;
      background: url("/img/arrow.svg");
      width: 20px;
      height: 38px;
      top: 0;
      left: 0;
    }
  }

  .slick-next {
    position: absolute;
    top: 50%;
    right: -30px;
    margin-top: -19px;
    font-size: 0;
    width: 20px;
    height: 38px;
    transform-origin: center center;
    transform: rotate(180deg);
    background: none;
    box-shadow: none;

    &:before {
      content: "";
      position: absolute;
      background: url("/img/arrow.svg");
      width: 20px;
      height: 38px;
      top: 0;
      right: 0;
    }
  }

}