.Stock {

  padding: 80px 0 95px 0;
  background: url("/img/bg-stock.png");
  overflow: hidden;

  .Section-Title {

    color: $color-titles;
    margin-bottom: 15px;

    .Allotment-Text {
      color: $main-color;
    }
  }

  .Stock-Text {
    display: block;
    font-size: 20rem;
    color: $text-color;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 15px;

    .Allotment-Text {
      font-family: "Lato-Black";
      text-transform: uppercase;
    }
  }

  .Stock-Action {
    display: block;
    width: 400px;
    height: 50px;
    margin: 0 auto 50px;
    background: $main-color;
    font-size: 20rem;
    color: white;
    padding: 10px;
    border-radius: 3px;
    text-align: center;

    & > * {
      vertical-align: middle;
    }

    svg {
      width: 21px;
      height: 23px;
      fill: white;
    }
  }

  .Stock-List {
    width: 100%;
    font-size: 0;
    margin-bottom: 65px;
  }

  .Stock-Item {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    padding: 0 15px;
    margin-bottom: 15px;

    .Stock-Image {
      height: 240px;
    }

    img {
      max-width: 100%;
      max-height: 240px;
    }

    & > div {
      background: white;
      border-radius: 3px;
      padding: 35px 25px 10px 25px;
      box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.1);
    }

    span {
      display: block;
      margin-bottom: 15px;
    }

    .Item-Title {
      font-family: "GoodHeadlinePro";
      font-size: 30rem;
      color: $color-titles;
    }

    .Stock-Old {
      display: inline-block;
      position: relative;
      font-size: 20rem;
      color: $text-color;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background: $text-color;
        top: 12px;
      }
    }

    .Stock-New {
      font-family: "Lato-Black";
      font-size: 20rem;
      color: $main-color;
      text-transform: uppercase;
    }
  }

  .Get-Present {
    display: block;
    margin: auto;
    width: 500px;
    height: 60px;
    font-size: 20rem;
    background: $main-color;
    font-family: "Lato-Black";
    padding-bottom: 5px;
    color: white;
    border-radius: 3px;
  }

}