.Quality {
  padding: 80px 0 90px 0;
  overflow: hidden;

  .Section-Title {

    color: $color-titles;
    margin-bottom: 85px;
  }

  .Quality-Item {
    position: relative;
    padding: 0 15px;
    margin-top: 195px;

    .Right, .Left {
      width: 50%;
      padding-top: 30px;
      padding-left: 50px;
      z-index: 3;
      position: relative;
    }

    .Quality-Image {
      position: absolute;
      bottom: 30px;
      width: 570px;
      height: 340px;
      box-shadow: 0 0 35px 0 rgba(0, 0, 0, .2);
      z-index: 10;
    }

    .Item-Title {
      display: block;
      color: $color-titles;
      font-size: 12rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding-bottom: 20px;
    }

    p {
      font-size: 22rem;
      color: white;
      line-height: 1.273;

      .Allotment-Text {
        color: #ffff00;
        font-family: "Lato-Black";
      }
    }
    .Quality-Description {
      @extend %Clearfix;

      & > div {
        position: relative;
        background: $main-color;
        height: 250px;
        overflow: hidden;

        &:after {
          content: attr(data-content);
          position: absolute;
          font-size: 195rem;
          font-family: "Lato-Black";
          color: rgba(243, 167, 47, 0.5);
        }

      }
    }

    &:nth-of-type(odd) {
      .Quality-Image {
        left: 15px;
      }

      .Quality-Description {
        padding-left: 45px;
        padding-right: 80px;

      }
    }

    &:nth-of-type(even) {
      .Quality-Image {
        right: 15px;
      }

      .Quality-Description {
        padding-right: 45px;
        padding-left: 80px;

      }
    }

    &:nth-of-type(1) {
      .Quality-Image {
        background: url("/img/quality-1.jpg") center center;
      }

      .Quality-Description {
        & > div {
          &:after {
            top: 26px;
            left: 515px;
          }
        }
      }

    }

    &:nth-of-type(2) {
      .Quality-Image {
        background: url("/img/quality-2.jpg") center center;
      }

      .Quality-Description {
        & > div {
          &:after {
            left: 20px;
          }
        }
      }

    }

    &:nth-of-type(3) {
      .Quality-Image {
        background: url("/img/quality-3.jpg") center center;
      }

      .Quality-Description {
        & > div {
          &:after {
            left: 500px;
            top: 36px;
          }
        }
      }
    }

    &:nth-of-type(4) {
      .Quality-Image {
        background: url("/img/quality-4.jpg") center center;
      }

      .Quality-Description {
        & > div {
          &:after {
            left: 11px;
            top: 36px;
          }
        }
      }
    }
  }
}