.Order {
  position: relative;
  background: url("/img/bg-order.jpg") center center fixed;
  background-size: cover;

  padding: 100px 0 120px;

  .Section-Title {
    color: white;
    margin-bottom: 20px;
    line-height: 1;
  }

  .Content-Descriptions {
    color: white;
    font-size: 20rem;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 60px;
  }
  .Order-Blackout {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;

  }

  .Order-Content {
    position: relative;
    z-index: 2;
  }

  .Order-Form {
    max-width: 500px;
    width: 100%;
    margin: auto;



    input {
      border: 1px solid transparent;
      &:focus {
        border: 1px solid $main-color;
      }
    }

  }
}










