.Reviews
{

    padding: 130px 0 190px 0;

    .Section-Title
    {
        margin-bottom: 90px;
        color:         $color-titles;
    }

    .Reviews-List
    {
        font-size: 0;
    }

    .Review-Item
    {

        display:        inline-block;
        vertical-align: top;
        width:          50%;
        padding:        0 15px;
        margin-bottom:  60px;

        .Item-Description
        {
            padding:   30px 35px 0 35px;
            font-size: 16rem;

            .Title
            {
                display:       block;
                color:         $color-titles;
                margin-bottom: 30px;
            }

            p
            {
                color:       $text-color;
                line-height: 1.375;

            }
        }
    }

    button
    {
        width:          500px;
        height:         60px;
        font-size:      20rem;
        background:     $main-color;
        padding-bottom: 5px;
        color:          #fff;
        font-family:    "Lato-Black";
        border-radius:  3px;
    }
}