.Video
{
    position:        relative;
    overflow:        hidden;
    //background:      url("/img/bg-video.jpg") center;
    background-size: cover;
    height:          750px;

    .Video-Blackout
    {
        position:   absolute;
        top:        0;
        right:      0;
        left:       0;
        bottom:     0;
        background: rgba(0, 0, 0, 0.5);
    }

    .Section-Title
    {
        position:    relative;
        z-index:     1;
        color:       white;
        text-align:  left;
        padding:     20px 0 20px 15px;
        line-height: 1;
    }

    p
    {
        position:     relative;
        z-index:      1;
        font-size:    20rem;
        color:        white;
        padding-left: 15px;
        line-height:  1.25;
    }

    video
    {
        position:          absolute;
        top:               50%;
        left:              50%;
        min-width:         100%;
        min-height:        100%;
        width:             auto;
        height:            auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform:     translateX(-50%) translateY(-50%);
        transform:         translateX(-50%) translateY(-50%);
    }

    button
    {
        z-index:        1;
        position:       absolute;
        bottom:         80px;
        width:          500px;
        height:         60px;
        font-size:      20rem;
        background:     $main-color;
        padding-bottom: 5px;
        color:          #fff;
        font-family:    "Lato-Black";
        border-radius:  3px;
    }
}