.Questions {

  padding: 110px 0 135px 0;

  .Section-Title {
    color: $color-titles;
    margin-bottom: 120px;
  }

  .Questions-List {
    max-width: 970px;
    margin: auto;
  }

  .Question-Item {
    margin-bottom: 10px;
  }

  .Questions-Button {
    position: relative;
    background: #fafafa;
    padding: 25px 80px 25px 38px;
    font-size: 20rem;
    font-family: "Lato-Black";
    color: $color-titles;
    cursor: pointer;
  }

  .Arrow-Question {
    position: absolute;
    right: 60px;
    top: 25px;
    width: 11px;
    height: 20px;
    fill: $text-color;
    transform-origin: center;

  }

  .JS-Rotate-Arrow-0 {
    transform: rotate(-90deg);
    transform-origin: center center;
    transition: transform .3s;
  }

  .JS-Rotate-Arrow-180 {
    transform: rotate(90deg);
    transform-origin: center center;
    transition: transform .3s;
  }

  .Question-Text {
    font-size: 16rem;
    color: $text-color;
    transition: all linear .2s;
    height: 0;
    display: none;
    overflow: hidden;

    p {
      padding: 10px 60px 40px 80px;
      line-height: 1.375;
    }
  }

}