#Google-Map
{
    height: 700px;

    #content
    {

    }

    span
    {
        display:     block;
        line-height: 1.14;
    }

}

.Map
{
    position: relative;
}

.Map-Window
{
    position:      absolute;
    z-index:       1;
    right:         50px;
    top:           50%;
    width:         300px;
    margin-top:    -115px;
    background:    white;
    border-radius: 3px;
    padding:       40px 30px 35px 30px;
    box-shadow:    0 0 20px 0 rgba(50, 50, 50, .4);

    .Section-Title
    {
        color:         $color-titles;
        margin-bottom: 60px;
        line-height:   1;
    }

    button
    {
        display:        block;
        border-radius:  3px;
        background:     $main-color;
        width:          190px;
        height:         40px;
        font-size:      18rem;
        color:          white;
        padding-bottom: 5px;
        margin:         35px auto 0;
    }
}

.Map-Address, .Map-Town
{
    font-family: "Lato-Black";
    font-size:   20rem;
    color:       $main-color;
    line-height: 1.14;
}

.Map-Town
{
    padding-bottom: 20px;
    margin-bottom:  20px;
    border-bottom:  1px solid #ededed;
}

.Map-Email, .Map-Phone
{
    font-size:   20rem;
    color:       $text-color;
    line-height: 1.14;
}

.Map-Email
{
    padding-bottom: 10px;
}

.gm-style
{
    bottom:          -22px !important;
    height:          auto !important;
}

