.Footer {
  background: url("/img/bg-footer.png") center;
  background-size: cover;
  font-size: 0;
  padding: 70px 0 50px 0;

  .Footer-Block {

    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    font-size: 12rem;
    padding: 0 15px;

    p {
      font-size: 16rem;
      color: $text-color;
      padding-bottom: 14px;
      text-align: center;
      line-height: 1.375;

      a {
        display: inline;
        padding-left: 3px;

      }
    }

  }

  .Footer-Logo {
    width: 170px;
    height: 80px;
  }

  .Second-Logo {

    text-align: right;
    font-size: 0;
    img {
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;

    }

    span {
      font-size: 16rem;
      color: $text-color;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: middle;
      padding-left: 14px;
    }
  }
}



