.JS-Modal-Blackout
{
    position:   fixed;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.6);
    opacity:    0;
    z-index:    1000;
    top:        0;
    left:       0;
    right:      0;
    width:      100%;
    height:     100%;
    transition: all 0.7s ease;

    .JS-Modal
    {
        position:    absolute;
        top:         8%;
        left:        50%;
        margin-left: -400px;
        width:       800px;

        visibility:  hidden;
        box-sizing:  border-box;
        transition:  all 0.7s ease;
    }

    &.Visible
    {
        visibility: visible;
        opacity:    1;
        .JS-Modal
        {
            visibility: visible;
            opacity:    1;
            transition: all 0.7s ease;
        }
    }

    .JS-Modal-Close
    {
        position:  absolute;
        top:       0;
        right:     0;
        width:     40px;
        height:    40px;
        z-index:   10;
        cursor:    pointer;
        font-size: 35rem;
        color:     $text-color;
    }

}

.JS-Modal-Button
{
    cursor: pointer;
}

.Modal-Order
{

    padding:    65px 90px 80px 90px;
    box-shadow: 0 0 20px 0 rgba(50, 50, 50, .4);
    .Section-Title
    {
        color:         $color-titles;
        margin-bottom: 60px;
        line-height:   1;
    }

    background: white;

    form
    {
        max-width: 400px;
        width:     100%;
        margin:    auto;

        input
        {
            border: 1px solid $main-color;

        }
    }
}

.Error
{
    border: 3px solid #f11b1b !important;
}

.Message
{
    color:       #f39c12;
    font-size:   22rem;
    text-align:  center;
    padding-top: 24px;
    height:      40px;
}

#Modal-2 p
{
    text-align:  center;
    font-size:   18px;
    line-height: 24px;
}